
#file_upload{position: absolute; top: 98px; left: 0; width: 198px;}
#upImg{width: 128px; height: 128px;}


.uploadify {
	position: relative;
}

.uploadify-button.disabled {
	background-color: #D0D0D0;
	color: #808080;
}
.uploadify-queue {

}
.uploadify-queue-item {
	background-color: #F5F5F5;
	font: 11px Verdana, Geneva, sans-serif;
	margin-top: 5px;
	max-width: 128px;
}
.uploadify-error {
	background-color: #FDE5DD !important;
}
.uploadify-queue-item .cancel a {
	background: url('../images/uploadify-cancel.png') 0 0 no-repeat;
	float: right;
	height:	16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadify-queue-item.completed {
	background-color: #E5E5E5;
}
.uploadify-progress {
	background-color: #E5E5E5;
	margin-top: 10px;
	width: 100%;
}
.uploadify-progress-bar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}