/********************************      基本样式      ********************************/
html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px;
}
/**页面基本样式**/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 12px;
}
#body-wrapper {
    background: url('../images/bg-radial-gradient.gif') fixed 186px top no-repeat;
}
/********************************      Elements styling      ********************************/
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: #222;
    font-weight: bold;
}
h1{
    font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff;
    position: absolute; top: -1000px;
}
h2 { font-size: 26px; padding: 0 0 10px 0; }
h3 { font-size: 17px; padding: 0 0 10px 0; }
h4 { font-size: 16px; padding: 0 0 5px 0; }
h5 { font-size: 14px; padding: 0 0 5px 0; }
h6 { font-size: 12px; padding: 0 0 5px 0; }
a { color: #57a000; text-decoration: none; }
a:hover { color: #57a000;}
a:active{ color: #777; }
a:focus { outline: 1px; }
strong { font-weight: bold; color: #333; }
small { font-size: 0.85em; }
pre { font-family: monospace; }
p {
    padding: 10px 0 10px 0;
    line-height: 1.6em;
}
/********************************      General Classes      ********************************/
.clear {
    clear: both;
}
.align-left {
    float: left;
}
.align-right {
    float: right;
}
/************ 按钮样式 ************/
.button {
     font-family: '宋体';
    display: inline-block;
    /*background: #459300 url('../images/bg-button-green.gif') top left repeat-x !important;*/
    background: #4B9802;
    border: 1px solid #fff !important;
    padding: 5px 7px 5px 7px !important;
    color: #fff;
    font-size: 14px !important;
    cursor: pointer;
}
.button:hover {
/*text-decoration: underline;*/
    background: #459300 url('../images/bg-button-green-hover.png') top left repeat-x !important;
}
.button:active {
    padding: 5px 7px 5px 7px !important;
}
a.remove-link {
    color: #bb0000;
}
a.remove-link:hover {
    color: #000;
}

/********************************     头部样式      *************************************/
#top-content{
    /*background: url('../images/top-bg.png');*/
    background: #191919;
    width: 100%;
}
#top-content #top-content-left{
    width:330px;
    height:50px;
    color:#A1A7AA;
    font-size: 1.6em;
    font-weight: bold;
    line-height: 55px;
    padding: 0 0 0 20px;
    /*text-align: center;*/
    /*background: url('../images/top-left-bg.png') top left no-repeat;*/
    background: #191919;
    float: left;
}
#top-content #top-content-right{
    width:700px;
    height:50px;
    float: right;
}
#top-content #top-content-right ul{
    float: right;
    height:50px;
}
#top-content #top-content-right ul li{
    float: left;
    text-align: center;
}
#top-content #top-content-right ul .s-li{
    width: 130px;
    padding: 15px;
}
#top-content #top-content-right ul .s-li a{
    cursor: pointer;
    color: #A1A7AA;
}
#top-content #top-content-right ul .b-li{
    width: 50px;
    height: 50px;
    padding: 8px 0 0 0;
    border-left: 2px solid #000;
    cursor: pointer;
}
#top-content img{
    vertical-align: middle;
}
#top-content #top-content-right ul span{
    color:#A1A7AA;
    font-size: 15px;
}
/********************************      左部菜单栏样式      ********************************/
#sidebar {
/*background: url('../images/bg-body.png') top left repeat;*/
    background: #191919;
    width: 166px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10;
    color: #888;
    font-size: 11px;
}
#sidebar #sidebar-wrapper {
    margin: 0 0 0 9px;
    padding: 0px 0 0 0 ;
}
#sidebar a,
#sidebar a:active {
    color:#ccc;
}
#sidebar a:hover {
    color:#fff;
}
#sidebar #sidebar-title {
    margin: 40px 0 40px 15px;
}
/************ Sidebar Accordion Menu ************/
#sidebar #main-nav {
    /*width: 186px;*/
    width: 155px;
    padding: 0;
    margin: 15px 0 0 2px;
    font-family: Helvetica, Arial, sans-serif;
}
#sidebar #main-nav li {
    list-style: none;
    padding-bottom: 10px;
    text-align: right;
}
#sidebar #main-nav li a.nav-top-item {
    background: transparent url('../images/bg-menu-item-green.png') left center no-repeat;
    /*background: #5FA602;*//*72B402 62A801 5EA402 5FA602*/
    padding: 10px 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
#sidebar #main-nav li a.current {
/*background-image: url('../images/bg-menu-item-current.png') !important;*/
    background: #fff;
    color: #333;
    font-weight: bold;
}
#sidebar #main-nav li a.current:hover {
    color: #333;
}
#sidebar #main-nav ul {
    padding: 0;
    font-size: 12px;
    margin: 0;
}
#sidebar #main-nav ul li {
    list-style: none;
    margin: 0;
    text-align: right;
    padding: 0;
}
#sidebar #main-nav ul li a {
/*padding: 8px 15px;*/
    padding: 12px 15px 2px 0px;
    display: block;
    color: #aaa;
    font-size: 13px;
    line-height: 1.2em;
}
#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
color: #fff;
}
#sidebar #main-nav ul li a.current {
    background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
    background-position: 149px 15px !important;
}
/************ 弹出层样式 ************/
#messages p,
#messages form {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}
#messages h4 {
    padding: 10px 0;
}
#messages fieldset {
    margin: 0;
}
#messages textarea {
    margin: 0 0 15px 0;
}
/********************************      主页面样式      ********************************/
/************ Layout ************/
#main-content {
    margin: 0 2px 0 5px;
    padding: 5px 0 0 0;
}
.column-left {
    width: 48%;
    float: left;
}
.column-right {
    width: 48%;
    float: right;
}
#footer {
    border-top: 1px solid #ccc;
    margin: 40px 0 0 0;
    padding: 20px 0;
    font-size: 12px;
}
/************ Lists ************/
#main-content ul,
#main-content ol {
    padding: 10px 0;
}
/* Unordered List */
#main-content ul li {
    background: url('../images/icons/bullet_black.png') center left no-repeat;
    padding: 4px 0 4px 20px;
}
/* Ordered List */
#main-content ol {
    padding: 0 0 0 24px;
}

#main-content ol li {
    list-style: decimal;
    padding: 4px 0;
}

/*************** Content Box ***************/
#now-address{
    padding:5px 0 3px 10px;
    font-size: 14px;
    color: #666;
    font-family: '微软雅黑';
    border-bottom: 1px solid #EDEDED;
}
#now-address .reload{
    margin-right:10px;
    cursor:pointer;
}
.content-box {
    border: 0px solid #ccc;
    margin: 10px 0 20px 0;
    background: #fff;
}
.content-box-header {
/*background: #e5e5e5 url('../images/bg-content-box.gif') top left repeat-x;*/
    background: #333333;
    margin-top: 0px;
    height: 40px;
}
.content-box-header h3 {
    padding: 12px 15px 10px;
    float: left;
    color: #fff;
}
ul.content-box-tabs {
    float: right;
    padding: 12px 15px 0 0 !important;
    margin: 0 !important;
}
ul.content-box-tabs li {
    float: left;
    margin: 0;
    padding: 0 !important;
    background-image: none !important;
}
ul.content-box-tabs li a {
/*color: #333;*/
    color: #fff;
    padding: 8px 10px;
    display: block;
    margin: 1px;
    border-bottom: 0;
}
ul.content-box-tabs li a:hover {
    color: #57a000;
}
ul.content-box-tabs li a.current {
    background: #fff;
    border: 1px solid #ccc;
    border-bottom: 0;
    margin: 0;
    color: #000;
}
.content-box-content {
    padding: 5px 0 0 0;
    font-size: 13px;
    border-top: 1px solid #ccc;
}
/************ Table ************/
#main-content table {
    width: 100%;
    border-collapse: collapse;
}
#main-content table thead th {
    font-weight: bold;
    font-size: 15px;
    /*border-bottom: 1px solid #ddd;*/
    background: #E8E8E8;
    font-family: '微软雅黑';
    color: #444;
}
#main-content tbody {
/*border-bottom: 1px solid #ddd;*/
}
#main-content tbody tr {
    background: #fff;
}
/** 隔行换色 **/
#main-content tbody tr.alt-row {
    background: #f5f5f5;
}
/** tr行被点击复选框选中后的颜色 **/
#main-content tbody tr.row-select {
    background: #DBEDB4;
}
/** tr行被鼠标进入后的颜色 **/
#main-content tbody tr.mouse-in {
    background: #D6D8D9;
}
#main-content table td,
#main-content table th {
    padding: 8px;
    line-height: 1.3em;
}
#main-content table tfoot td .bulk-actions {
    padding: 5px 0 0px 0;
}
#main-content table tfoot td .bulk-actions select {
    padding: 4px;
    border: 1px solid #ccc;
}

/*************** 分页样式Pagination ***************/
#main-content .pagination {
    text-align: right;
    padding: 5px 0 0px 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
.pagination a {
    margin: 0 5px 0 0;
    padding: 3px 6px;
}
.pagination a.number, #go {
    border: 1px solid #ddd;
}
.pagination a.current, #go {
/*background: #469400 url('../images/bg-button-green.gif') top left repeat-x !important;*/
    background: #4B9802;
/*border-color: #459300 !important;*/
    border-color: #4B9802 !important;
    color: #fff !important;
}
.pagination a.current:hover {
    text-decoration: underline;
}
.pagination #go{
    cursor:pointer;height:22px;
}
.pagination #page_num{
    width:30px;height:18px;border:1px solid #ccc
}
/************ Shortcut Buttons ************/
.shortcut-button {
    border: 1px solid #ccc;
    background: #f7f7f7 url('../images/shortcut-button-bg.gif') top left no-repeat;
    display: block;
    width: 120px;
    margin: 0 0 20px 0;
}
.shortcut-button span {
    border: 1px solid #fff;
    display:block;
    padding: 15px 10px 15px 10px;
    text-align: center;
    color: #555;
    font-size: 13px;
    line-height: 1.3em;
}
.shortcut-button span img {
    margin-bottom: 10px;
}
.shortcut-button:hover {
    background: #fff;
}
.shortcut-button span:hover {
    color: #57a000;
}
ul.shortcut-buttons-set li {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 !important;
    background: 0;
}
/*************** 表单 ***************/
form label {
    display: block;
    padding: 0 0 10px;
    font-weight: bold;
}
form fieldset legend {
    font-weight: bold;
    margin-bottom: 10px;
    padding-top: 10px;
}
form p small {
    font-size: 0.75em;
    color: #777;
}
form input.text-input,
form select,
form textarea,
form .wysiwyg {
    padding: 6px;
    font-size: 13px;
    /*background: #fff url('../images/bg-form-field.gif') top left repeat-x;*/
    /*background-color: #FDFDFD;*/
    border: 1px solid #d5d5d5;
    color: #333;
}
form .small-input {
    width: 25% !important;
}
form .medium-input {
    width: 50% !important;
}
form .large-input {
    width: 97.5% !important;
    font-size: 16px !important;
    padding: 8px !important;
}
form textarea {
    width: 97.5% !important;
    font-family: Arial, Helvetica, sans-serif;
}
form select {
    height:30px;
    padding: 5px;
    background: #fff;
}
form input[type="checkbox"],
form input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
}
/*************** 提示框样式 ***************/
.notification {
    position: relative;
    margin: 0 0 0 0;
    padding: 3px;
    border: 1px solid;
    background-position: 10px 9px !important;
    background-repeat: no-repeat !important;
    font-size: 13px;
    width: 99.7%;
}
.attention {
    background: #fffbcc url('../images/icons/exclamation.png') 10px 11px no-repeat;
    border-color: #e6db55;
    color: #666452;
}
.information {
    background: #dbe3ff url('../images/icons/information.png');
    border-color: #a2b4ee;
    color: #585b66;
}
.success {
    background: #d5ffce url('../images/icons/tick_circle.png');
    border-color: #9adf8f;
    color: #556652;
}
.error {
    background: #ffcece url('../images/icons/cross_circle.png');
    border-color: #df8f8f;
    color: #665252;
}
.notification div {
    display:block;
    font-style:normal;
    padding: 5px 5px 5px 36px;
    line-height: 1.5em;
}
.notification .close {
    color:#990000;
    font-size:9px;
    position:absolute;
    right:5px;
    top:5px;
}
/* Notification for form inputs */
.input-notification {
    background-position: left 2px;
    background-repeat: no-repeat;
    padding: 2px 0 2px 22px;
    background-color: transparent;
    margin: 0 0 0 5px;
}
/* Notification for login page */
#login-wrapper #login-content .notification {
    border: 0;
    background-color: #141414;
    color: #fff !important;
}
/********************************      登陆页样式      ********************************/
body#login {
    color: #fff;
    background: #222 url('../images/bg-login.gif');
}
#login-wrapper {
    background: url('../images/bg-login-top.png') top left repeat-x;
}
#login-wrapper #login-top {
    width: 100%;
    padding: 100px 0 50px 0;
    text-align: center;
}
#login-wrapper #login-content {
    text-align: left;
    width: 300px;
    padding: 30px 0 0 0;
    margin: 0 auto;
    }
#login-wrapper #login-content label {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    float: left;
    width: 70px;
    padding: 5px 0 0 0;
}
#login-wrapper #login-content input {
    width: 200px;
    float: right;
    margin: 0 0 20px 0;
    border: 0;
    background: #fff;
}
#login-wrapper #login-content p {
    padding: 0;
}
#login-wrapper #login-content p#remember-password {
    float: right;
}
#login-wrapper #login-content p#remember-password input {
    float: none;
    width: auto;
    border: 0;
    background: none;
    margin: 0 10px 0 0;
}
#login-wrapper #login-content p .button {
    width: auto;
    margin-top: 20px;
}
/*验证码输入框*/
#login-wrapper #login-content input.code{
    width:60px;
    float: left;
    margin-left: 18px;
    margin-right: 10px;
    margin-top: 15px;
}
/*验证码文字label*/
#code_label{
    margin-top: 15px;
}

/*************** 弹出层样式 ***************/
#facebox .b {
  background:url(../images/b.png);
}
#facebox .tl {
  background:url(../images/tl.png);
}
#facebox .tr {
  background:url(../images/tr.png);
}
#facebox .bl {
  background:url(../images/bl.png);
}
#facebox .br {
  background:url(../images/br.png);
}
#facebox {
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 100;
  text-align: left;
}
#facebox .popup {
  position: relative;
}
#facebox table {
  border-collapse: collapse;
}
#facebox td {
  border-bottom: 0;
  padding: 0;
}
#facebox .body {
  padding: 10px;
  background: #fff;
  width: 600px;
}
#facebox .loading {
  text-align: center;
}
#facebox .image {
  text-align: center;
}
#facebox img {
  border: 0;
  margin: 0;
}
#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}
#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.facebox_hide {
  z-index:-100;
}
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}